.aboutACRE {
    background-image: url('../images/StarrySky.jpg');   
    background-attachment: scroll;
    /* position: absolute;
    height: 1024px;
    left: 0px;
    top: 100px; */
}





.aboutACRE .aboutACREBody .headerACRE {
/*     position: absolute;
width: 278px;
height: 75px;
left: 105px;
top: 200px;
 */
/* ACRE/Title */

font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 50px;
/* line-height: 150%; */
/* identical to box height, or 75px */


color: #FFFFFF;
}

.aboutACRE .aboutACREBody .paragraph {
    /* position: absolute;
    width: 810px;
    height: 180px;
    left: 105px;
    top: 410px; */
    
    /* ACRE/Body Large */
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    
    
    color: #FFFFFF;
}

.solutions {
    /* background: rgba(255, 255, 255, 0.8); backdrop-filter: blur(10px); */
    background: lightgray;
}

.solutions .solutionsBody .solutionsTitle{
    font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 42px;
line-height: 150%;
/* identical to box height, or 63px */


color: #164093;
}

.solutions .solutionsBody .solutionsIconGrid{
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 150%;
/* or 27px */


color: #26345A;
}

.solutions .solutionsBody .solutionsIconGrid .solutionsIcon .realEstate {
    font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */


color: #26345A;
}

@media only screen and (min-width: 1301px)  {

    .solutions {
        padding: 75px;
    }


    .aboutACRE .aboutACREBody .paragraph {
        padding-left: 45px;
    }

    .aboutACRE {
        background-size:  150%;
         /* height: 400px;  */
    }

    .aboutACRE .aboutACREBody{
        width: 1000px;
    }

    .solutions .solutionsBody{
        width: 1000px;
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .solutions .solutionsBody .solutionsTitle  {
        padding-top: 15px;
    }

    .solutions .solutionsBody .solutionsIconGrid .SolutionsTextBody {
        padding-top: 5px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1301px) {
    .solutions {
        padding: 75px;
    }

    .aboutACRE .aboutACREBody .paragraph {
        padding-left: 45px;
    }

    .aboutACRE {
        background-size:  150%;
         /* height: 400px;  */
    }

    .aboutACRE .aboutACREBody{
        width: 900px;
    }

    .solutions .solutionsBody{
        width: 900px;
    }


    .projectBody .projectsGrid  {
        Width: 1230px;
    }

    .solutions .solutionsBody .solutionsIconGrid .SolutionsTextBody {
        padding-top: 5px;
        padding-bottom: 40px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .solutions {
        padding: 55px;
    }

    .aboutACRE .aboutACREBody .paragraph {
        padding-left: 45px;
    }
}

/* Mobile */
@media only screen and (max-width: 767px) {

    .aboutACRE {
        background-size:  250%;
         /* height: 400px;  */
    }
    
    .aboutACRE .aboutACREBody .paragraph {
        font-size: 16px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .solutions {
        padding: 25px;
    }
    .solutions .solutionsBody .solutionsIconGrid  {
        padding-top: 15px;
    }

    .solutions .solutionsBody .solutionsIconGrid .solutionsIcon {
        width:50%;
    }

    .solutions .solutionsBody .solutionsIconGrid .SolutionsTextBody {
        font-size: 14px;
        padding-bottom: 10px;
    }

}