

/*    Device = Laptops, Desktops
---------------------------------------------------------------- */

@media only screen and (min-width: 992px)  {

	.header .navbar .logo {
		line-height: 33px; 
		letter-spacing: 0em; 
		text-align: center; position: absolute;
					width: 111px;
					height: 35px;
					left: 107px;
					top: 32px;
	}



	.navbar-brand {
		position: absolute;
		top: 10px;
		left: 15px;
        font-family: Montserrat; 
    font-size: 22px; 
    font-style: normal; 
    font-weight: 700; 
    line-height: 33px; 
    letter-spacing: 0em; 
    text-align: center;
	}
	.navbar-brand .vector6{
		position: absolute;
		left: 22.52%;
		right: 66.22%;
		top: 65.71%;
		bottom: 14.29%;
		background: #FFFFFF;
	}
	.navbar-brand .vector6{
		position: absolute;
		left: 11.12%;
		right: 68.74%;
		top: 0%;
		bottom: 34.29%;
		background: #FFFFFF;
	}
	.navbar-brand .vector7{
		position: absolute;
		left: 22.52%;
		right: 66.22%;
		top: 65.71%;
		bottom: 14.29%;
		background: #FFFFFF;
	}
	.header .navbar .language {
		position: absolute;
		right: 15px;
		top: 10px;
	}
	.header .navbar .language .dropdown-menu {
		top: 100%;
		right: 0;
		margin-left: -80px;
	}
	.navbar-nav {
		width: 100%;
		justify-content: center;
	}
    .header .navbar .language .token {
		padding: 0px 15px !important;
		line-height: 40px !important;
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
	}
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header {
		height: 100%;
	}
	.shape1 img, .shape2 img, .shape3 img, .shape4 img, .shape5 img{
		width: 100%
	}
	.navbar-brand {
		position: absolute;
		top: 10px;
		left: 15px;
        font-family: Montserrat; 
    font-size: 22px; 
    font-style: normal; 
    font-weight: 700; 
    line-height: 33px; 
    letter-spacing: 0em; 
    text-align: center;
	}
	.header .navbar .language {
		position: absolute;
		right: 15px;
		top: 10px;
	}
	.header .navbar .language .dropdown-menu {
		top: 100%;
		right: 0;
		margin-left: -80px;
	}
	.navbar-nav {
		width: 100%;
		justify-content: center;
	}
	.header .navbar .navbar-nav .nav-item .nav-link {
		padding: 0px 0px;
	}
	.header .navbar .navbar-nav .nav-item {
		padding: 40px 0px 0;
	}

    .header .navbar .language .token {
		padding: 0px 15px !important;
		line-height: 40px !important;
        background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
	}
}

/*		Mobile Layout: 320px.
---------------------------------------------------------------- */

@media only screen and (max-width: 767px) {
	.header .navbar .logo {
		line-height: 33px; 
		letter-spacing: 0em; 
		text-align: center; position: absolute;
					width: 111px;
					height: 35px;
					left: 50px;
					top: 32px;
	}


	.header .navbar .logo .dropdown-menu {
		top: 100%;
		right: 0;
		margin-left: -80px;
	}
	.header .navbar .logo .social {
		padding: 0px 15px !important;
		line-height: 40px !important;
        background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	}

	.header {
		height: 100%;
		overflow: hidden;
	}
	#header-06 {
	    overflow: hidden;
	}
	#footer-06 {
	    overflow: hidden;
	}
	#token_sale_06 {
	    overflow: hidden;
	}
	#companis_supported_01 {
	    overflow: hidden;
	}
	#token_sale_01 {
	    overflow: hidden;
	}
	#tokenization_benefits_01 {
	    overflow: hidden;
	}
	.header-01 {
	    min-height: 760px;
	}
	#header-02 {
	    min-height: 1650px;
	}
	#about_cryptonic_02 {
	    padding: 150px 0 0;
	}
	#about_cryptonic_02 {
	    overflow: hidden;
	}
	#benefit-04 {
	    overflow: hidden;
	}

	#about_cryptonic_05:before {
	    display: none;
	}
	#ico_start_05:before {
	    display: none;
	}
	.body_05 .language {
	    position: absolute;
	    top: 10px;
	    left: 62%;
	    transform: translateX(-50%);
	    width: 100%;
	    justify-content: center;
	}
	#about_cryptonic_04 {
	    padding: 0px 0 100px;
	}
	#header-06 .bubble3 {
	    right: 2%;
	}
	.shape1 img, .shape2 img, .shape3 img, .shape4 img, .shape5 img{
		width: 100%
	}
	.header .navbar {
		padding: 60px 0 15px !important;
		z-index: 99;
		/* background: #020c59 !important; */
		background: #26345A;
	}
	.header .navbar .navbar-nav .nav-item .nav-link {
		padding: 10px 15px !important;
		color: #ffffff !important;
		font-size: 15px;
		display: inline-block;
	}
	.header .navbar .language {
		margin-left: 0px;
	}
	.language {
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		justify-content: center;
	}
	.header .navbar .language .dropdown-menu {
		top: 100%;
		right: 0;
		margin-left: -80px;
	}
	.header .navbar .language .token {
		padding: 0px 15px !important;
		line-height: 40px !important;
        background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
	}
	.navbar-brand {
		position: absolute;
		top: 10px;
		left: 15px;
        font-family: Montserrat; 
    font-size: 22px; 
    font-style: normal; 
    font-weight: 700; 
    line-height: 33px; 
    letter-spacing: 0em; 
    text-align: center;
	}
}