

 /*============================================================*/

 /* ---------{ 01. Default  CSS } ---------- */
 
 /* Variables */


* {
	margin: 0;
	padding: 0;
}
body {
	overflow-x: hidden;
	font-size: 15px;
	line-height: 25px;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
	color: #ffffff;
	overflow-x: hidden !important;
    background-image: url('../images/StarrySky.jpg');
    background-size:  100%; 
    background-repeat: repeat-y; 
    background-attachment: fixed; 
    height: 100%; 
    width: 100%;
}
p {
	font-weight: 400;
	line-height: 30px;
	font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #ffffff;
	font-family: "Poppins", sans-serif;
	margin: 0;
}
h4 {
	font-weight: 500;
}
a,
a:hover,
a:focus {
	transition: all 0.3s ease-in-out;
	text-decoration: none;
	outline: none;
}
ol,
ul {
	margin: 0;
	padding: 0;
}
ol li,
ul li {
	list-style: outside none none;
	list-style-type: none;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-indent: 1px;
	text-overflow: '';
}
.padding-none {
	padding: 0px;
}
.padding-right {
	padding-right: 0px;
}
.padding-left {
	padding-left: 0px;
}
.ml-15 {
	margin-left: 15px;
}
.sub-title {
	text-align: center;
	max-width: 800px;
	margin: 0px auto 100px;
}
.sub-title h2 {
	font-size: 40px;
	font-weight: 500;
	line-height: 55px;
	margin-bottom: 30px;
}
.sub-title p {
	margin: 0px auto;
}


/*=========={
 Header Section 
}
==============*/

.header {
	height: 100vh;
	background-size: cover;
	position: relative;
	z-index: 99;
}
.header .navbar {
    background: #26345A;
	padding: 25px 0 0;
}
.header .navbar .navbar-nav .nav-item {
	margin-right: 30px;
}
.header .navbar .navbar-nav .nav-item:last-child {
	margin-right: 0px;
}
.header .navbar .navbar-nav .nav-item .nav-link {
	padding: 30px 0px;
	color: #ffffff;
	font-size: 15px;
}
.header .navbar-brand{
    font-family: Montserrat; 
    font-size: 22px; 
    font-style: normal; 
    font-weight: 700; 
    line-height: 33px; 
    letter-spacing: 0em; 
    text-align: center;
}

.header .TempLogo {
	position: absolute;
	width: 111px;
	height: 35px;
	left: 107px;
	top: 32px;
}

.header .TempLogo .text {
	font-family: Montserrat; 
    font-size: 22px; 
    font-style: normal; 
    font-weight: 700; 
    line-height: 33px; 
    letter-spacing: 0em; 
    text-align: center;
}


/*=========={
 Homepage Section 
}
==============*/



.intro-text {
	position: absolute;
	width: 995.92px;
	height: 225px;
	left: 105px;
	top: 200px;
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 50px;
	line-height: 150%;
}