#footer {
	background: transparent;
	padding-top: 180px;
	z-index: 1;
	position: relative;
}
#footer .footer-btm-wrapper {
	padding-bottom: 80px;
}
#footer .footer_items {
	display: flex;
	justify-content: space-between;
}
#footer .footer_items .footer_single_list_1 {
	width: 40%;
}
#footer .footer_items .footer_single_list_2 {
	width: 20%;
}
#footer .footer_items .footer_single_list_3 {
	width: 20%;
}
#footer .footer_items .footer_single_list_4 {
	width: 20%;
}
#footer .social-links {
	display: flex;
	justify-content: start;
	margin-top: 30px;
}
#footer .social-links li {
	display: inline-flex;
	margin-right: 25px;
	line-height: 55px;
}
#footer .social-links li a {
	color: #ffffff;
	font-size: 16px;
	transition: all 0.3s ease 0s;
	background: transparent;
	padding: 0px;
	height: 46px;
	width: 46px;
	border-radius: 100%;
	line-height: 46px;
	position: relative;
	z-index: 1;
	text-align: center;
	 border: 1px solid #a481e7; 
    /* border: white; */
}
#footer .social-links li a:before {
	position: absolute;
	height: 100%;
	width: 100%;
	/* background: linear-gradient(to bottom, #ee7abc 0%, #a481e7 100%); */
	background: #26345A;
	left: 0;
	right: 0;
	content: "";
	border-radius: 50%;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}
#footer-06 .social-links li a:hover:before {
	visibility: visible;
	opacity: 1;
}

/*---------- Footer Style-------*/

.footer {
	padding-top: 150px;
    padding-left:10%;
	position: relative;
	background: #020c59;
}
.footer .footer-btm-wrapper {
	padding-bottom: 80px;
}
.footer .footer-btm-wrapper .footer-single-col .subtitle_1 {
	text-transform: none;
	font-size: 24px;
	margin-bottom: 40px;
}
.footer .footer-btm-wrapper .footer-single-col p {
	margin: 0 100px 0 0;
}
.footer .footer-btm-wrapper .footer-single-col ul li {
	padding-bottom: 12px;
	color: #8a8a8a;
	font-weight: 300;
}
.footer .footer-btm-wrapper .footer-single-col ul li:last-child {
	padding-bottom: 0px;
}
.footer .footer-btm-wrapper .footer-single-col ul li a {
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
	transition: all 0.1s ease-in-out;
}
.footer .footer-btm-wrapper .footer-single-col ul li a:hover {
	color: #ffffff;
	transition: all 0.1s ease-in-out;
	padding-left: 3px;
}
.footer .copyright {
	text-align: center;
}
.footer .copyright p {
	font-size: 14px;
	margin: 0;
	padding: 50px 0;
	border-top: 1px solid #1c256a;
	line-height: 14px;
}

/* Mobile */
@media only screen and (max-width: 767px) {
	#footer-06 .footer_items .footer_single_list_1
	{
		width: 100%
	}
}
