

.header {
    position: relative;
}

.header .headerBody {
    width: 1100px

}

.header .navbar .footer_single_list_1 {
	width: 40%;
}

.header .navbar .social-links {
	display: flex;
	justify-content: start;
}
.header .navbar .social-links li {
	display: inline-flex;
	margin-right: 25px;
	line-height: 55px;
}
.header .navbar .social-links li a {
	color: #ffffff;
	font-size: 16px;
	transition: all 0.3s ease 0s;
	background: transparent;
	padding: 0px;
	height: 46px;
	width: 46px;
	border-radius: 100%;
	line-height: 46px;
	position: relative;
	z-index: 1;
	text-align: center;
	/* border: 1px solid #a481e7; */
    border: 1px solid white;
}
.header .navbar .social-links li a:before {
	position: absolute;
	height: 100%;
	width: 100%;
	/* background: linear-gradient(to bottom, #ee7abc 0%, #a481e7 100%); */
    background: linear-gradient(270deg, #918EFF 0%, #5AB0FF 100%);
	left: 0;
	right: 0;
	content: "";
	border-radius: 50%;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}
.header .navbar .social-links li a:hover:before {
	visibility: visible;
	opacity: 1;
}


@media only screen and (min-width: 768px) {
    .header .navbar .social-links {
         margin-top: 20px; 
    }
    .header .navbar .logo {
        color:white; 
        font-family: Montserrat; 
        font-size: 22px; 
        font-style: normal; 
        font-weight: 700; 
         line-height: 33px; 
        letter-spacing: 0em; 
        text-align: center; position: absolute;
                    width: 111px;
                    height: 35px;
                    left: 107px;
                    top: 50px; 
    }
    
    .header .navbar .logo .text {
        position: absolute;
                        left: 42.34%;
                        right: 0%;
                        top: 5.71%;
                        bottom: 0%;
                        
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 22px;
                        line-height: 150%;
                        /* identical to box height, or 33px */
                        
                        text-align: center;
                        
                        color: #FFFFFF;
    }
    
    .header .navbar .logo:hover {
        color:918EFF; 
    }
    
    .header .navbar .logo .text:hover {
        /* color: #918EFF; */
        background-image: linear-gradient(to left, #918EFF, #5AB0FF);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            color: transparent;
        margin-bottom: 0%;
    }
    
    
    .header .navbar .logo .vector5 {
        position: absolute;
        left: 0%;
        right: 77.33%;
        top: 0%;
        bottom: 14.29%;
    }
    
    .header .navbar .logo .vector6 {
        position: absolute;
        left: 11.12%;
        right: 68.74%;
        top: 0%;
        bottom: 34.29%;
    }
    
    .header .navbar .logo .vector7 {
        position: absolute;
        left: 22.52%;
        right: 66.22%;
        top: 65.71%;
        bottom: 14.29%;
    }

    .logotest {
        width: 100px;
        height: 100%;
        position: relative;

    }
    .logotest .vector5t {
        position: absolute;
        left: 5px;
        /* right: 77.33%; */
        top: 25px;
        bottom: 14.29%; 
    }
    
    .logotest .vector6t {
        position: absolute;
        left: 17px;
         /* left: 17.85%; */
        /* right: 68.74%; */
        top: 25px;
        /* top: 47%;
        bottom: 34.29%;  */
    }
    
    .logotest .vector7t {
        position: absolute;
        left: 30px;
        top: 48px;
        /* left: 18.52%; */
        /* right: 66.22%; */
        
        /* top: 65.71%; */
        /* bottom: 14.29%;  */
    }

    .logoTest  {
        color:white; 
        font-family: Montserrat; 
        font-size: 22px; 
        font-style: normal; 
        font-weight: 700; 
         line-height: 53px; 
        letter-spacing: 0em; 
/*         text-align: center; position: absolute;
                    width: 111px;
                    height: 35px;
                    left: 107px;
                    top: 50px;  */
    }
    
    .logotest  .text {
        position: absolute;
                        left: 55px;
                        right: 0%;
                        top: 27px;
                        bottom: 0%;
                        
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 22px;
                        line-height: 150%;
                        /* identical to box height, or 33px */
                        
                        text-align: left;
                        
                        color: #FFFFFF;
    }
    
    /* .logoPosition :hover {
        color:918EFF; 
    } */

    .logotest .text:hover {
        color: #5177e0; 
         /* color: #918EFF;  */
        /* background-image: linear-gradient(to left, #918EFF, #5AB0FF);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            color: transparent; */
        margin-bottom: 0%;
    }
}

/* Mobile */
@media only screen and (max-width: 767px) {

    .header .navbar .navbar-toggler{
        position: absolute;
					left: 4px;
					top: 22px;
    }
    .header .navbar .logo {
        color:white; 
        font-family: Montserrat; 
        font-size: 22px; 
        font-style: normal; 
        font-weight: 700; 
        /* line-height: 33px; 
        letter-spacing: 0em; 
        text-align: center; position: absolute;
                    width: 111px;
                    height: 35px;
                    left: 107px;
                    top: 32px; */
    }
    .header .navbar-light .navbar-toggler {
        color:white;
        /* border-color: lightgray; */
    }
    .header .navbar .logotest .text {
        position: absolute;
                        left: 42.34%;
                        right: 0%;
                        top: 11.71%;
                        bottom: 0%;
                        
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 22px;
                        line-height: 150%;
                        /* identical to box height, or 33px */
                        
                        text-align: center;
                        
                        color: #FFFFFF;
    }
    
    .header .navbar .logotest:hover {
        color:918EFF; 
    }
    
    .header .navbar .logotest .text:hover {
        /* color: #918EFF; */
        background-image: linear-gradient(to left, #918EFF, #5AB0FF);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            color: transparent;
        margin-bottom: 0%;
    }
    
    
    .header .navbar .logotest .vector5t {
        position: absolute;
        left: 0%;
        right: 77.33%;
        top: 12%;
        bottom: 14.29%;
    }
    
    .header .navbar .logotest .vector6t {
        position: absolute;
        left: 11.12%;
        right: 68.74%;
        top: 12%;
        bottom: 34.29%;
    }
    
    .header .navbar .logotest .vector7t {
        position: absolute;
        left: 22.52%;
        right: 66.22%;
        top: 77.71%;
        bottom: 14.29%;
    }

	.header .navbar .logotest {
		line-height: 33px; 
		letter-spacing: 0em; 
		text-align: center; position: absolute;
					width: 111px;
					height: 35px;
					left: 53px;
					top: 17px;
	}


	.header .navbar .logotest .dropdown-menu {
		top: 100%;
		right: 0;
		margin-left: -80px;
	}
	.header .navbar .logotest .social {
		padding: 0px 15px !important;
		line-height: 40px !important;
        background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	}

    .header .navbar .social{
        /* line-height: 33px;  */
		letter-spacing: 0em; 
		text-align: center; 
        position: absolute;
					 /* width: 150px;  */
					height: 100px;
					right: 0px;
					top: 15px;
    }

    .header .navbar .social-links li {
        display: inline-flex;
        margin-right: 5px;
        line-height: 55px;
    }
}
