.gem {
    background-image: url('../images/Animation/LandingPage.gif'); 
    background-size:  100%; 
    background-repeat: repeat-y; 
    background-attachment: fixed; 
    height: 100%; 
    width: 100%;
}

.introduction {
    color:white;
    background-image: url('../images/StarrySky.jpg');   
    background-attachment: scroll;

}

.introduction .introductionBody{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px 20px 20px 20px;
    width: 100%;
    border-radius: 16px;
    margin-top: 20px;
    background: #202020;
  }


.introduction .introductionBody img {
    width: auto;
    max-width: 100%;
}

.introduction .title {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    /* line-height: 150%; */
}


.whatWeWorkFor {
    /* background: rgba(255, 255, 255, 0.8);  */
    background: lightgray;
    backdrop-filter: blur(10px);
}

.whatWeWorkFor .whatWeWorkForBody .title{
    text-align: left;
    color:#4B7EE0; 
    font-family: Lato; 
    /* font-size: 20px;  */
    font-style: normal; 
    font-weight: 900; 
    /* line-height: 150%;  */
    letter-spacing: 0em; 
    text-align: left;
}

.whatWeWorkFor .whatWeWorkForBody .title2{
    text-align: left;
    color:#26345A; 
    font-family: Lato; 
    /* font-size: 42px;  */
    font-style: normal; 
    font-weight: 900; 
    /* line-height: 150%;  */
    letter-spacing: 0em; 
    /* text-align: center; */
}

.roadmap {
    background-image: url('../images/StarrySky.jpg');   
    background-attachment: scroll;
}

.roadmap .roadmapMainTitle{
    font-family: Lato; 
    /* font-size: 32px;  */
    font-style: normal; 
    font-weight: 900; 
    line-height: 150%; 
    letter-spacing: 0em; 
}

.roadmap .roadmapTitle{
    font-family: Lato; 
    /* font-size: 32px;  */
    font-style: normal; 
    font-weight: 900; 
    line-height: 150%; 
    letter-spacing: 0em; 
}

ul{
    list-style-position: outside;
    list-style-type: square;
}

@media only screen and (min-width: 1301px)  {
    .introduction {
        background-size:  150%;
         height: 400px; 
    }

    .roadmap {
        padding-left: 10%;
        padding-top: 3%;
        padding-bottom: 3%;
        text-align: left;
        background-size:  100%;
    }

    .roadmap .roadmapBody {
        width: 1100px;
    }

    .roadmap .roadmapMainTitle{
        padding-left: 200px;
        font-size: 46px;  
    }

    .roadmap .roadmapTitle{
        padding-left: 100px;
        font-size: 36px;  
    }
    

    .introduction .title {
        /* position: absolute; */
   /*  width: 995.92px;
    height: 225px; */
    /* left: 105px;
    top: 200px; */
    }

    .introduction .buttons {
        padding: 5px;
        width: 600px;
 /*   height: 225px; */
    /* left: 105px;
    top: 300px; */
    }

    .introduction .buttons .btn{
        /* padding: 5px; */
        /* margin: 1px; */
        margin-left: 45px;
        max-width:40%
    }
    

    .whatWeWorkFor {
        height: 400px;

    }
    
    .whatWeWorkFor .whatWeWorkForBody {
        width: 1100px;
    }

    .whatWeWorkFor .whatWeWorkForBody .title{
        padding-top: 5px;
        font-size: 18px; 
    }

    .whatWeWorkFor .whatWeWorkForBody .title2{
        padding-top: 5px;
        font-size: 36x; 
    }

    .whatWeWorkFor .whatWeWorkForBody .textBody{
        position: absolute;
        /* top:100px;
        left: 450px;
        right: 50px; */
    }

    .roadmap .roadmapBody{
        background-size:  100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1300px)  {

    .introduction {
        background-size:  150%;
         height: 400px; 
    }

    .roadmap {
        padding-left: 10%;
        padding-top: 3%;
        padding-bottom: 3%;
        text-align: left;
        background-size:  100%;
    }

    .roadmap .roadmapBody {
        width: 900px;
    }

    .introduction .title {
        /* position: absolute; */
   /*  width: 995.92px;
    height: 225px; */
    /* left: 105px;
    top: 200px; */
    }

    .introduction .buttons {
        padding-top: 5px;
        width: 500px;
        /* position: absolute; */
    /* width: 255.92px; */
 /*   height: 225px; */
    /* left: 105px;
    top: 300px; */
    }

    .introduction .buttons .btn{
        /* padding: 5px; */
        /* margin: 1px; */
        margin-left: 25px;
        max-width:40%
    }

    .whatWeWorkFor {
        height: 450px;

    }
    
    .whatWeWorkFor .whatWeWorkForBody {
        width: 1000px;
    }

    .whatWeWorkFor .whatWeWorkForBody .title2{
        padding-top: 5px;
        font-size: 36x; 
    }

    .whatWeWorkFor .whatWeWorkForBody .textBody{
        position: absolute;
        /* top:100px;
        left: 450px;
        right: 50px; */
    }

    .roadmap .roadmapBody{
        background-size:  100%;
    }
}

@media screen and (min-width:992px) {
    .whatWeWorkFor .textBody{
        /* position: absolute;
        width: 801px;
        height: 288px;
        left: 525px;
        top: 1001px; */
    
        /* ACRE/Body Large */
    
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 150%;
        /* or 36px */
    
        color: #26345A;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .introduction {
        background-size:  150%;
    }

    .introduction .buttons .btn{
        /* padding: 5px; */
        /* margin: 1px; */
        margin-left: 25px;
        max-width:40%
    }

    .whatWeWorkFor .textBody{
        /* position: absolute;
        width: 801px;
        height: 288px;
        left: 525px;
        top: 1001px; */
    
        /* ACRE/Body Large */
    
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 150%;
        /* or 36px */
    
        color: #26345A;
    }

    .roadmap {
        padding-left: 10%;
        padding-top: 3%;
        padding-bottom: 3%;
        text-align: left;
    }
    .roadmap .roadmapBody{
        width: 700px;
        background-size:  100%;
        /* height: 500px; */
    }

    /* .introduction .title {
        position: absolute;
    width: 995.92px;
    height: 225px;
    left: 105px;
    top: 200px;
    } */

    .introduction .buttons {
        padding-top: 5px;
        /* position: absolute; */
    width: 500.92px;
 /*   height: 225px; */
    /* left: 105px;
    top: 300px; */
    }

    .whatWeWorkFor {
        height: 600px;

    }

    .whatWeWorkFor .whatWeWorkForBody .title{
        position: absolute;
        top:50px;
        left: 50px;
    }
    
    .whatWeWorkFor .whatWeWorkForBody .title2{
        position: absolute;
        top:100px;
        left: 50px;
        padding-bottom: 10%;
    }

    .whatWeWorkFor .whatWeWorkForBody .textBody{
        position: absolute;
        top:80px;
        left: 50px;
        width:650px;
    }
}

/* Mobile */
@media only screen and (max-width: 767px) {

    .introduction {
        background-size:  210%;
    }
    .introduction .title {
        font-size: 32px;
    }

    .whatWeWorkFor .textBody{
        /* position: absolute;
        width: 801px;
        height: 288px;
        left: 525px;
        top: 1001px; */
    
        /* ACRE/Body Large */
    
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        /* or 36px */
    
        color: #26345A;
    }

    .whatWeWorkFor .whatWeWorkForBody .title{
        padding-top: 5px;
        padding-left: 20px;
        font-size: 28px; 
    }

    .whatWeWorkFor .whatWeWorkForBody .title2{
        padding-top: 5px;
        font-size: 36x; 
    }

    .roadmap {
        padding-left: 10%;
        padding-right: 5%;
        padding-top: 3%;
        padding-bottom: 3%;
        text-align: left;
        background-size:  400%;
    }

    .roadmap .roadmapMainTitle{
        padding-left: 50px;
        font-size: 46px;  
    }

    .roadmap .roadmapTitle {
        padding-left: 25px;
        font-size: 36px;
    }

/*      .introduction {
        height: 350px;
    } */

     .introduction .title {
         padding-top: 10%;
         padding-left: 10%;
/*         position: absolute;
    width: 350px;
    height: 225px;
    left: 50px;
    top: 180px; */
    }

    .introduction .buttons {
        margin-top: 0;
        position: relative;
         left: -20px; 
        Top: 0;
/*         position: absolute; */
    width: 220.92px; 
/*     height: 225px; 
    left: 100px;
    top: 250px; */
    }  


    /* .roadmapBody .underline .roadmapTitle  {
        width: 100%;
        border-bottom: 4px solid white;
        text-align: center;
        position: relative;
      }
      .roadmapBody .underline .roadmapTitle span {
        position: relative;
         top: 15px;
        padding: 0 10px; 
        background: #fff;
         font-size:25px;
      } */
}