.litepaperHeader{
    background-image: url('../images/StarrySky.jpg');   
    background-attachment: scroll;
}

.litepaperHeader .thriveTitle {
    /* position: absolute;
width: 143px;
height: 75px;
left: 105px;
top: 200px; */

/* ACRE/Title */

font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 50px;
line-height: 150%;
/* identical to box height, or 75px */


color: #FFFFFF;
}

.litepaperBody {
    background: lightgray;
    /* background: rgba(255, 255, 255, 0.8); backdrop-filter: blur(10px); */
}

.litepaperBody .litepaperBodyPosition {
    background: lightgray;
    /* background: rgba(255, 255, 255, 0.8); backdrop-filter: blur(10px); */
}

.litepaperBody .litepaperBodyPosition .intro{

    width: 700px;

    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 150%;
/* or 36px */


color: #26345A;
}

.litepaperBody .litepaperBodyPosition .storyTitle{
    font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 42px;
line-height: 150%;
/* identical to box height, or 63px */


color: #164093;
}

.litepaperBody .litepaperBodyPosition .storyIconGrid{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    
    
    color: #26345A;
}

.litepaperBody .litepaperBodyPosition .StoryText{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    /* or 27px */
    
    
    color: #26345A;
}


@media only screen and (min-width: 1201px)  {

    .litepaperHeader .thriveTitle {
        padding-top: 50px;
        padding-left: 20px;
    }
    .litepaperHeader {
        background-size:  100%;
    }

    .thriveHeaderBody{
        width:1100px
    }

    .litepaperBody .litepaperBodyPosition {
        width: 1100px;
        height: 1000px;
    }

    .litepaperBody .litepaperBodyPosition {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    

    .litepaperBody .litepaperBodyPosition .intro{
        padding-top: 50px;
        width: 700px;
    }
    .litepaperBody .litepaperBodyPosition .StoryText{
        padding-top:25px;
        font-size: 18px;
    }

    .tokenDescription .intro{
        width: 1000px;
    
    }

    .litepaperBody .litepaperBodyPosition .ltpaper {
        height: 900px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .litepaperHeader {
        background-size:  100%;
    }


    .litepaperBody .litepaperBodyPosition {
        width: 900px;
    }
    

    .litepaperBody .litepaperBodyPosition .intro{
        width: 900px;
    }
    .litepaperBody .litepaperBodyPosition .StoryText{
        font-size: 18px;
    }

    .litepaperBody .litepaperBodyPosition .ltpaper {
        height: 900px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .litepaperHeader {
        background-size:  100%;
    }

    .litepaperBody{
        height: 550px;
    }

    .litepaperBody .litepaperBodyPosition{
        padding: 15px;
    }

    .litepaperBody .litepaperBodyPosition .intro{
        width: 700px;
    }
    .litepaperBody .litepaperBodyPosition .StoryText{
        font-size: 18px;
    }

    .litepaperBody .litepaperBodyPosition .ltpaper {
        height: 900px;
    }
}

/* Mobile */
@media only screen and (max-width: 767px) {
    
    .litepaperHeader {
        background-size:  200%;
    }

    .litepaperBody .litepaperBodyPosition {
        padding-top: 50px;
    }

    .litepaperBody .litepaperBodyPosition{
        padding: 27px;
    }

    /* .litepaperBody .litepaperBodyPosition {
        height: 2500px;
    } */

    /* .litepaperBody .litepaperBodyPosition 
    {
        height: 980px
    } */
    .litepaperBody .litepaperBodyPosition .intro {
        width: 80%;
        font-size: 18px;
        padding-top: 15px;
    }

    .litepaperBody .litepaperBodyPosition .StoryText{
        font-size: 16px;
    }

    .litepaperBody .litepaperBodyPosition .ltpaper {
        height: 400px;
    }
}
