.projectTitle {
    background-image: url('../images/StarrySky.jpg');   
    background-attachment: scroll;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 150%;
}


.projectADRHeader{
    /* padding-right: 0px;
    padding-left: 0px; */
    background: linear-gradient(0deg, rgba(38, 52, 90, 0.3), rgba(38, 52, 90, 0.3)), url('../images/projects/ProjectADRHeaderImage.png');
    background-size:cover;

    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.projectADRLink {
    background-image: url('../images/StarrySky.jpg');   
    background-attachment: scroll;
}
/* 
.projectADRHeader .container{
    display: flex;
    /* flex-direction: column; */
    
/*    
}


.projectADRHeader .container ul.menu
{                 
   vertical-align: bottom;
}

.projectADRHeader .container ul.menu li
{    
   display: inline-block;
   text-align: center;
}


ul.menu
{                 
   vertical-align: bottom;
}

ul.menu li
{    
   display: inline-block;
   text-align: center;
} */

.ADRBodyInformation {
    background: rgba(255, 255, 255, 0.8);
backdrop-filter: blur(10px);
}


.ADRBodyInformation .ADRBodyInformationTitle{
    font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 150%;
/* or 36px */


color: #26345A;
/* identical to box height, or 63px */


color: #164093;
}

.ADRBodyInformation .solutionsIconGrid{
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 150%;
/* or 27px */


color: #26345A;
}

@media only screen and (min-width: 1201px)  {
    .projectTitle {
        background-size: 100%;
    }
    .projectTitle .projectTitleBody{
        width: 995.92px;
        padding-top: 80px;
        padding-bottom: 20px;
    }
    .projectTitle .title {
        text-align:left;
        width: 184px;
    }

    .projectBody .projectsGrid{
        width: 1100px;
    }

    .projectADRHeader{
        height: 400px;
    }

    .ADRBodyInformation .ADRBodyInformationTitle{
        width: 800px;;
    }

    .projectADRLink {
        background-size:  110%;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .tokenDescription .intro{
        height: 400px;
    
    }

    .ADRBodyInformation .ADRBodyInformationTitle{
        width: 800px;;
    }
}

/* .projectBody .projectsGrid  {
    Width: 1230px;
} */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .tokenDescription .intro{
        height: 300px;
    
    }
    .ADRBodyInformation .ADRBodyInformationTitle{
        width: 800px;;
    }
}

/* Mobile */
@media only screen and (max-width: 767px) {
    .projectTitle{
        background-size: 200%;
    }

    .projectTitleBody .title {
        padding-left: 50px;
    }

    .tokenDescription .intro{
        height: 200px;
    
    }

    .ADRBodyInformation .ADRBodyInformationTitle{
        width: 340px;
        font-size: 16px;
    }

    .projectADRLink {
        background-size:  210%;
    }

    .projectADRLink .linkheader {
        padding-left: 10px;
        font-size: 22px;
    }
}