.projectTitle {
    background-image: url('../images/StarrySky.jpg');   
    background-attachment: scroll;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 150%;
}


.projectBody {
    background: lightgray;
    /* background: rgba(255, 255, 255, 0.8); */
    backdrop-filter: blur(10px);
}

.projectBody .projectsGrid  {
    padding-top: 15px;
    padding-bottom: 50px;
    width: 100%;
   /*  margin-left:-2%; *//* whatever */
}

.projectBody .projectsGrid  .individualProject {
    /* padding: 15px; */
    Width: 600px;
    Height: 600px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.projectBody .projectsGrid  .individualProject:hover {
    /* padding: 15px; */
    opacity: 0.5;
}

.projectBody .projectsGrid  .individualProject .picture {
    Width: 600px;
    Height: 300px;
}

.projectBody .projectsGrid  .individualProject .picture img {
    max-width: 100%;
    max-height: 100%;
}

.projectBody .projectsGrid  .individualProject .info {
    Width: 600px;
    Height: 300px;
    background-color: #FFFFFF;
}

.projectBody .projectsGrid  .individualProject .info .type {
    position: absolute;
left: 7.48%;
/* right: 76.02%; */
top: 53.33%;
bottom: 41.67%;

    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 150%;
    color: #3A78F1;
}

.projectBody .projectsGrid  .individualProject .info .name {
    position: absolute;
    left: 7.48%;
    /* right: 49.52%; */
    top: 59.17%;
    bottom: 33.33%;

    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 150%;
    color: #26345A;
}

.projectBody .projectsGrid  .individualProject .info .message{
    position: absolute;
left: 7.48%;
right: 7.48%;
top: 69.17%;
bottom: 8.33%;
width: 550px;


    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */


    color: #26345A;

    opacity: 0.8;
}

@media only screen and (min-width: 1201px)  {
    .projectTitle {
        background-size: 100%;
    }
    .projectTitle .projectTitleBody{
        width: 995.92px;
        padding-top: 80px;
        padding-bottom: 20px;
    }
    .projectTitle .title {
        text-align:left;
        width: 184px;
    }

    .projectBody .projectsGrid{
        width: 1100px;
    }
}

@media only screen and (min-width: 992px)  {

    .projectTitle {
        background-size: 100%;
    }
    .projectTitle .projectTitleBody{
        width: 995.92px;
    }
    .projectTitle .title {
        text-align:left;
        width: 184px;
        /* height: 75px; */
        /* left: 105px;
        top: 200px; */
    }
}

/* .projectBody .projectsGrid  {
    Width: 1230px;
} */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .projectTitle {
        background-size: 100%;
    }
    .projectTitle .projectTitleBody{
        width: 700.92px;
    }
    .projectTitle .title {
        text-align:left;
        width: 184px;
    }
}

/* Mobile */
@media only screen and (max-width: 767px) {

    .projectTitle {
        background-size: 100%;
        padding-top: 15px
    }
    .projectTitle .title {
        padding-left: 50px;
        text-align:left;
        /* height: 75px; */
        /* left: 105px;
        top: 200px; */
    }
    .projectBody .projectsGrid   {
        padding-top:15px;
    }
    
    .projectBody .projectsGrid  .individualProject {
    /* padding: 15px; */
    Width: 90%;
    Height: 90%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.projectBody .projectsGrid  .individualProject:hover {
    /* padding: 15px; */
    opacity: 0.5;
}

.projectBody .projectsGrid  .individualProject .picture {
    Width: 100%;
    Height: 150px;
}

.projectBody .projectsGrid  .individualProject .picture .img {
    Width: 100%;
}

.projectBody .projectsGrid  .individualProject .info {
    Width: 100%;
    Height: 150px;
    background-color: #FFFFFF;
}

.projectBody .projectsGrid  .individualProject .info .type {
    position: absolute;
left: 7.48%;
/* right: 76.02%; */
top: 53.33%;
bottom: 41.67%;

    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 150%;
    color: #3A78F1;
}

.projectBody .projectsGrid  .individualProject .info .name {
    position: absolute;
    left: 7.48%;
    /* right: 49.52%; */
    top: 59.17%;
    bottom: 33.33%;

    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 150%;
    color: #26345A;
}

.projectBody .projectsGrid  .individualProject .info .message{
    position: absolute;
    left: 7.48%;
    right: 7.48%;
    top: 69.17%;
    bottom: 8.33%;
    width: 275px;


    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 150%;
    /* or 27px */

    }
}