.team_membar_05 .teambackground{
    background-image: url('../images/StarrySky.jpg');   
    background-attachment: scroll;
}



.team_membar_06{
    background-image: url('../images/StarrySky.jpg');   
    background-attachment: scroll;
	background-size: 500%;
}