.tokenHeader{
    background-image: url('../images/StarrySky.jpg');   
    background-attachment: scroll;
}

.tokenHeader .headerText {
/*     position: absolute;
width: 278px;
height: 75px;
left: 105px;
top: 200px;
 */
/* ACRE/Title */

font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 50px;
/* line-height: 150%; */
/* identical to box height, or 75px */


color: #FFFFFF;
}

.tokenHeader .paragraph {
    /* position: absolute;
    width: 810px;
    height: 180px;
    left: 105px;
    top: 410px; */
    
    /* ACRE/Body Large */
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    
    
    color: #FFFFFF;
}

.tokenDescription{
    background: lightgray;
    /* background: rgba(255, 255, 255, 0.8); backdrop-filter: blur(10px); */
}

.tokenDescription .intro{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 150%;
    padding-bottom: 50px;
/* or 36px */


color: #26345A;

}
.tokenDescription .tokenIconGrid .tokenIcon{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 150%;
/* or 36px */


color: #26345A;

}

.tokenDescription .benefits .title{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 150%;
    /* identical to box height, or 63px */
    
    
    color: #164093;
}

.tokenDescription .benefits .titleTemp{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 92px;
    line-height: 60px;
    /* identical to box height, or 63px */
    
    
    color: #164093;
}

.tokenDescription .benefits .message{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 150%;
/* or 36px */


color: #26345A;

}

.tokenTiers{
    background-image: url('../images/StarrySky.jpg');   
    background-attachment: scroll;
}

.tokenTiers .tiersHeader{
/* ACRE/Subtitle */

font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 42px;
line-height: 150%;
/* identical to box height, or 63px */


color: #FFFFFF
}

.tokenTiers   {
    padding-top: 15px;
    padding-bottom: 50px;
    /* margin-left:-2%; */
}

@media only screen and (min-width: 1200px)  {

    .tokenHeader {
        background-size:  100%;
    }

    .tokenHeader .headerText {
        width: 1100px;
        padding-top: 100px;
        padding-bottom: 75px;
        }

    .tokenDescription .tokenDescriptionBody{
        padding-top: 50px;
        width: 1100px;
    }
    .tokenDescription .tokenDescriptionBody .intro{
        width: 1000px;
    }

    .tokenDescription .tokenDescriptionBody .benefits {
        padding-top: 25px;
    }

    .tokenDescription .tokenDescriptionBody .benefits {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .tokenTiers {
        background-size:  200%;
    }

    .tokenTiers .tokenTiersbody {
        width: 1100px;
    }

    
.tokenTiersd .tokenGrid .tokenTier {
    /* padding: 15px; */
    Width: 400px;
    Height: 400px;
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
align-items: center;
text-align: center;
}

.tokenTiers .tokenGrid .tokenTier .info {
    width: 330.5px;
    /* this is a temp height for the TBA information */
    /* height: 433.08px; */ 
    height: 120.08px;
    background-color: rgba(255, 255, 255, 0.8);

    text-align: center;
}

.tokenTiers .tokenGrid .tokenTier .info .type {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 150%;
    color: #3A78F1;
}

.tokenTiers .tokenGrid .tokenTier .info .name {
    /* position: absolute; */
    width: 330.5px;
    height: 120.08px;
/* left: 105px; */

border: 1px solid #26345A;
    /* ACRE/Subtitle */

font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 42px;
line-height: 150%;
/* identical to box height, or 63px */

text-align: center;

color: #26345A;
}

.tokenTiers .tokenGrid .tokenTier .info .titleTBA{
    font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 42px;
/* line-height: 150%; */
/* identical to box height, or 63px */

text-align: center;

    color: #26345A;
    line-height: 120px;
    /* identical to box height, or 63px */

}

.tokenTiers .tokenGrid .tokenTier .info .name .ul{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

.tokenTiers .tokenGrid .tokenTier .info .name .li {
    display: flex;
    align-items: center;
    text-align: center;
    width: 195px;
}

.tokenTiers .tokenGrid .tokenTier .info .name .title{
    width: 100%;
font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 42px;
line-height: 150%;
/* identical to box height, or 63px */
text-align: center;

color: #26345A;
}

.tokenTiers .tokenGrid .tokenTier .info .name .cost{
    font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */

text-align: center;

color: #26345A;
}

.tokenTiers .tokenGrid .tokenTier .info .buy {
    /* position: absolute; */
    /* top: 127.08px; */
width: 195px;
height: 45px;
/* left: 105px; */

border: 1px solid #26345A;
    /* ACRE/Subtitle */
    font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 150%;
/* or 45px */

text-align: center;

color: #26345A;
}

.tokenTiers .tokenGrid .tokenTier .info .buySection1 {
    font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 150%;
/* or 45px */

text-align: center;

color: #26345A;
}

.tokenTiers .tokenGrid .tokenTier .info .buy .buySection2 {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 150%;
/* or 27px */

text-align: left;

color: #26345A;
}
.tokenTiers .tokenGrid .tokenTier .info .buy .buySection3 {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 150%;
/* or 27px */

text-align: center;

color: #26345A;
}

.tokenTiers .tokenGrid .tokenTier .info .fees {
    width: 390px;
    height: 90px;
    border: 1px solid #26345A;

    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 150%;
/* or 45px */

    text-align: center;

    color: #26345A;
}

.tokenTiers .tokenGrid .tokenTier .info .fees .feesSection1 {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
font-size: 30px;
line-height: 150%;
/* or 45px */

text-align: center;

color: #26345A;
}

.tokenTiers .tokenGrid .tokenTier .info .fees .feesSection2 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
/* or 27px */

    text-align: left;

    color: #26345A;
}

.tokenTiers .tokenGrid .tokenTier .info .fees .feesSection3 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
/* or 27px */

    text-align: center;

    color: #26345A;
}

.tokenTiers .tokenGrid .tokenTier .info .perks {
    width: 390px;
    height: 127px;
    /* ACRE/Body */

    border: 1px solid #26345A;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 150%;
/* or 27px */

text-align: center;

color: #26345A;
}
    /* .aboutACRE {
        position: absolute;
        height: 1024px;
        left: 0px;
        top: 100px; 
    }

    .aboutACRE .headerACRE {
        position: absolute;
        width: 278px;
        height: 75px;
        left: 105px;
        top: 200px;
        }
        
        .aboutACRE .paragraph {
            position: absolute;
            width: 810px;
            height: 180px;
            left: 105px;
            top: 410px; 

        } */

        .tokenTiers .tokenGrid .tokenTier .picture {
            width: 330.5px;
            height: 300px;
            background-size: cover;
        }
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .tokenHeader {
        background-size:  100%;
    }

    .tokenHeader .headerText {
        width: 900px;
        padding-top: 100px;
        padding-bottom: 75px;
        }

    .tokenDescription .tokenDescriptionBody{
        padding-top: 50px;
        width: 900px;
    }
    .tokenDescription .tokenDescriptionBody .intro{
        width: 800px;
    }

    .tokenDescription .tokenDescriptionBody .benefits {
        padding-top: 25px;
    }

    .tokenDescription .tokenDescriptionBody .benefits {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .tokenTiers {
        background-size:  110%;
    }

    .tokenTiers .tokenTiersbody {
        width: 900px;
    }

    .tokenTiers .tokenGrid .tokenTier .picture {
        width: 389.5px;
        height: 343px;
        background-size: cover;
    }
}

/* .projectBody .projectsGrid  {
    Width: 1230px;
} */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Mobile */
@media only screen and (max-width: 767px) {

    
    .tokenTiers {
        background-size:  500%;
    }

    .tokenHeader{
        height: 100px;
    }
    .tokenHeader .headerText {     
        padding-top: 30px;  
        padding-left: 15px;
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        }

        .tokenHeader {
            background-size:  100%;
        }

        .tokenDescription .tokenDescriptionBody{
            padding-top: 18px;
            padding-left: 18px;
            padding-right: 18px;
            /* width: 1100px; */
        }
        .tokenDescription .tokenDescriptionBody .intro{
            /* width: 1000px; */
        }
    
        .tokenDescription .tokenDescriptionBody .benefits {
            padding-top: 25px;
        }
    
        .tokenDescription .tokenDescriptionBody .benefits {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    
    
        .tokenTiers .tokenTiersbody {
            /* width: 1100px; */
        }

        .tokenDescription .intro{
            /* width: 300px;
         */
        }
        .tokenDescription .intro{
        
        padding-left: 0;
            font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        /* or 36px */
        
        
        color: #26345A;
        
        }

        .tokenPicture{
            display: block;
  margin-left: auto;
  margin-right: auto;
        }

        .tokenDescription .benefits .message{
            font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        /* or 36px */
        }

        .tokenTiers .tiersHeader{
            /* ACRE/Subtitle */
            
            font-family: Lato;
            font-style: normal;
            font-weight: 900;
            font-size: 36px;
            line-height: 150%;
            }


    
.tokenTiers   {
    padding-top: 15px;
    padding-bottom: 50px;
    /* margin-left:-2%; */
}

.tokenTiersd .tokenGrid .tokenTier {
    /* padding: 15px; */
    /* Width: 300px;
    Height: 300px; */
    width: 100%;
    height: 100%x;
    /* margin-top: 10px;
    margin-bottom: 15px; */
    display: flex;
    align-items: center;
    text-align: center;
}

.tokenTiers .tokenGrid .tokenTier .picture {
    width: 80%;
    height: 245px;
    /* width: 194.25px;
    height: 171.5px; */
    background-size: cover;
}

.tokenTiers .tokenGrid .tokenTier .info {
    width: 80%;
    /* this is a temp height for the TBA information */
    /* height: 433.08px; */ 
    height: 127.08px;
    background-color: rgba(255, 255, 255, 0.8);

    text-align: center;
}

.tokenTiers .tokenGrid .tokenTier .info .type {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 150%;
    color: #3A78F1;
}

.tokenTiers .tokenGrid .tokenTier .info .name {
    /* position: absolute; */
width: 100%;
height: 127.08px;
/* left: 105px; */

border: 1px solid #26345A;
    /* ACRE/Subtitle */

font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 150%;
/* identical to box height, or 63px */

text-align: center;

color: #26345A;
}

.tokenTiers .tokenGrid .tokenTier .info .titleTBA{
    font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 24px;
/* line-height: 150%; */
/* identical to box height, or 63px */
width: 100%;

text-align: center;

    color: #26345A;
    line-height: 120px;
    /* identical to box height, or 63px */

}

.tokenTiers .tokenGrid .tokenTier .info .name .ul{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

.tokenTiers .tokenGrid .tokenTier .info .name .li {
    display: flex;
    align-items: center;
    text-align: center;
    width: 80%;
}

.tokenTiers .tokenGrid .tokenTier .info .name .title{
    width: 100%;
font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 42px;
line-height: 150%;
/* identical to box height, or 63px */
text-align: center;

color: #26345A;
}

.tokenTiers .tokenGrid .tokenTier .info .name .cost{
    font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */

text-align: center;

color: #26345A;
}

.tokenTiers .tokenGrid .tokenTier .info .buy {
    /* position: absolute; */
    /* top: 127.08px; */
width: 80%;
height: 90px;
/* left: 105px; */

border: 1px solid #26345A;
    /* ACRE/Subtitle */
    font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 150%;
/* or 45px */

text-align: center;

color: #26345A;
}

.tokenTiers .tokenGrid .tokenTier .info .buySection1 {
    font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 150%;
/* or 45px */

text-align: center;

color: #26345A;
}

.tokenTiers .tokenGrid .tokenTier .info .buy .buySection2 {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 150%;
/* or 27px */

text-align: left;

color: #26345A;
}
.tokenTiers .tokenGrid .tokenTier .info .buy .buySection3 {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 150%;
/* or 27px */

text-align: center;

color: #26345A;
}

.tokenTiers .tokenGrid .tokenTier .info .fees {
    width: 80%;
height: 90px;
    border: 1px solid #26345A;

    font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 150%;
/* or 45px */

text-align: center;

color: #26345A;
}

.tokenTiers .tokenGrid .tokenTier .info .fees .feesSection1 {
    font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 150%;
/* or 45px */

text-align: center;

color: #26345A;
}

.tokenTiers .tokenGrid .tokenTier .info .fees .feesSection2 {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 150%;
/* or 27px */

text-align: left;

color: #26345A;
}

.tokenTiers .tokenGrid .tokenTier .info .fees .feesSection3 {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 150%;
/* or 27px */

text-align: center;

color: #26345A;
}

.tokenTiers .tokenGrid .tokenTier .info .perks {
    /* width: 390px; */
    width: 80%;
    height: 80%;
    /* ACRE/Body */

    border: 1px solid #26345A;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 150%;
/* or 27px */

text-align: center;

color: #26345A;
}

}